/* ||RESET */

* {
    margin: 0px;
    padding: 0px;
    border: 2px dotted red;
}

/* ||GENERAL STYLES */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


/* BLOCKS OR MAIN CONTAINERS */

.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 15px 15px 0px 15px;
}

.main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: #1F2937;
    height: 400px;
}

.img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.quote-section {
    display: flex;
    height: 400px;
    background-color: #E5E7EB;
}

.action-section {
    height: 400px;
}

.footer {
    height: 400px;
}

/* ||ELEMENTS (SOME BLOCKS IN BLOCKS)*/

/*header */

.header__logo {
    display: flex;
    font-size: 25px;
    font-weight: 900;
}

.header__ul {
    display: flex;
    list-style: none;
    margin: 0px;
}

.header__li {
    padding: 8px;
    font-size: 20px;
    color: #E5E7EB;
}

/*main section*/

.main-section__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 450px;
}

.main-section__h1 {
    display: flex;
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    width: 350px;
}

.main-section__p {
    display: flex;
    width: 430px;
    font-size: 18px;
    color: #E5E7EB;
}

.main-section__button {
    display: flex;
    align-self: flex-start;
    background-color: #3882F6;
    padding: 8px 32px 8px 32px;
    color: #E5E7EB;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.main-section__img {
    display: flex;
    align-self: center;
    background-color: #E5E7EB;
    padding: 100px 120px 100px 120px;
}

/*image section*/

.img-section__title {
    text-align: center;
    margin: 50px;
}

.img-section__items {
    /*images flex container*/
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.img-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.img-section__img {
    border: 5px solid skyblue;
    border-radius: 4px;
    height: 150px;
    width: 150px;
}

.img-section__p {
    display: flex;
    width: 150px;
    text-align: center;
}

/* ||MODIFIERS */