/* ||RESET -----------------------------------------------------------------------*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 2px dotted red; */
}

/* ||GENERAL STYLES --------------------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


/* BLOCKS -----------------------------------------------------------------*/

.header {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 15px 15px 0px 15px;
}

.main-section {
    display: flex;
    flex: 1 1 400px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #1F2937;
    /* height: 400px; */
}

.img-section {
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    justify-content: center;
    /* height: 400px; */
}

.quote-section {
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    background-color: #E5E7EB;
}

.action-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: white;
}

.footer {
    display: block;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px;
    text-align: center;
}

/* ||ELEMENTS----------------------------------------------------------------- */

/*header block elements */

.header__logo {
    font-size: 25px;
    font-weight: 900;
}

.header__ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px;
}

.header__li {
    padding: 8px;
    font-size: 15px;
    color: #E5E7EB;
}

/*main section block elements*/

.main-section__div {
    /*container for h1, p and button */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 450px;
    padding-left: 50px;
}

.main-section__h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    width: 350px;
}

.main-section__p {
    width: 430px;
    font-size: 18px;
    color: #E5E7EB;
}

.main-section__button {
    align-self: flex-start;
    background-color: #3882F6;
    padding: 8px 32px 8px 32px;
    color: #E5E7EB;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.main-section__img {
    align-self: center;
    background-color: #E5E7EB;
    padding: 100px 120px 100px 120px;
}

/*image section block elements*/

.img-section__title {
    text-align: center;
    margin-top: 50px;
    align-self: center;

}

.img-section__items {
    /*images and p flex container*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 50px;
    /* margin-bottom: 100px; */
}

.img-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.img-section__img {
    border: 5px solid skyblue;
    border-radius: 4px;
    height: 150px;
    width: 150px;
}

.img-section__p {
    width: 150px;
    text-align: center;
}

/*Quote section block elements*/

.quote-section__p {
    text-align: center;
    font-size: 36px;
    margin: 0px 60px 0px 60px;
}

.quote-section__h3 {
    text-align: right;
    font-size: 32px;
    align-self: flex-end;
    margin-right: 60px;
    margin-top: 10px;

}

/*Action section block elements*/

.action-section__banner {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 30px;
    padding: 25px;

}

.action-section__content {
    display: flex;
    flex-direction: column;
    margin: 25px 100px 25px 100px;
}

.action-section__title {
    color: #E5E7EB;
}

.action-section__text {
    color: #E5E7EB;
    font-size: 15px;
    ;
}

.action-section__btn {
    align-self: center;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    padding: 0px;
    color: #E5E7EB;
    height: 30px;
    width: 100px;
    margin-right: 100px;
}


/* ||MODIFIERS----------------------------------------------------- */